pipeline/step-functions/ai-cq-pipeline-step-function.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Compute Before",
  "States": {
    "Compute Before": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.waitForTaskToken",
      "Arguments": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:eu-central-1:233965294453:cluster/ai-cq-pipeline-cluster",
        "TaskDefinition": "arn:aws:ecs:eu-central-1:233965294453:task-definition/ai-cq-pipeline-fargate-task-1:2",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["subnet-0cba17184e1fb7aa4", "subnet-0181264e196cfeec0"],
            "SecurityGroups": ["sg-0c35f98cadda7db46"],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "fargate-1",
              "Environment": [
                {
                  "Name": "TASK_TOKEN",
                  "Value": "{% $states.context.Task.Token %}"
                }
              ]
            }
          ]
        }
      },
      "Next": "Should LLM be run?",
      "Output": "{% $states.result %}"
    },
    "Should LLM be run?": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Wait",
          "Condition": "{% $states.input.runLLM = true %}"
        }
      ],
      "Default": "Pass"
    },
    "Wait": { "Type": "Wait", "Seconds": 300, "Next": "Poll" },
    "Poll": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:eu-central-1:233965294453:function:ai-cq-pipeline-poller:$LATEST",
        "Payload": "{% $states.input %}"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Batch Request Completed?"
    },
    "Batch Request Completed?": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $states.input.status = 'completed' %}",
          "Next": "Compute After"
        }
      ],
      "Default": "Wait"
    },
    "Compute After": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Arguments": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:eu-central-1:233965294453:cluster/ai-cq-pipeline-cluster",
        "TaskDefinition": "arn:aws:ecs:eu-central-1:233965294453:task-definition/ai-cq-pipeline-fargate-task-2:2",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ["subnet-0cba17184e1fb7aa4", "subnet-0181264e196cfeec0"],
            "SecurityGroups": ["sg-0c35f98cadda7db46"],
            "AssignPublicIp": "ENABLED"
          }
        }
      },
      "Next": "Pass"
    },
    "Pass": { "Type": "Pass", "End": true }
  },
  "QueryLanguage": "JSONata",
  "TimeoutSeconds": 86400
}
